<h1>Listing intervals</h1>

<table>
  <tr>
    <th>Interval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @intervals.each do |interval| %>
  <tr>
    <td><%= interval.interval.strftime('%H:%M') %></td>
    <td><%= link_to 'Show', interval %></td>
    <td><%= link_to 'Edit', edit_interval_path(interval) %></td>
    <td><%= link_to 'Destroy', interval, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interval', new_interval_path %>
