<h1></h1>


<table border =1>
  <tr>
    <th>Outlet</th>
    <th>Date</th>
    <th>Time</th>
    <th>Party</th>
    <th>Parton Account</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Supervisor</th>
    <th>Comments</th>
    <th>Edit</th>
    <th>Cancel</th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.outlet %></td>
    <td><%= reservation.res_date %></td>
    <td><%= reservation.time%></td>
    <td><%= reservation.party %></td>
    <td><%= reservation.patron_id %></td>
    <td><%= reservation.last_name %></td>
    <td><%= reservation.first_name %></td>
    <td><%= reservation.supervisor %></td>
    <td><%= reservation.comments %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation, :outlet => @reservations.first.outlet) %></td>
    <td><%= link_to 'Cancel', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path(:outlet => @reservations.first.outlet)%>


