
 
<div id="draggable_reservation" class="ui-widget-content">	
<table border =1>
  <tr>
    <th>Outlet</th>
    <th>Date</th>
    <th>Time</th>
    <th>Party</th>
    <th>Parton Account</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Supervisor</th>
    <th>Comments</th>
    <th>Edit</th>
    <th>Cancel</th>
  </tr>

<% @reservations.each do |reservation|%>
  <tr>
    <td><%= reservation.outlet %></td>
    <td><%= reservation.res_date %></td>
    <td><%= reservation.res_time.strftime('%H:%M') %></td>
    <td><%= reservation.party %></td>
    <td><%= reservation.patron_id %></td>
    <td><%= reservation.last_name %></td>
    <td><%= reservation.first_name %></td>
    <td><%= reservation.supervisor %></td>
    <td><%= reservation.comments %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation, :outlet => @reservations.first.outlet) %></td>
    <td><%= link_to 'Cancel', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<p>
<center>
<% if @outlet == "St Germain's" %>
<%= link_to 'New Reservation', new_reservation_path(:outlet => @outlet)%>
<%end%>
<% if @outlet == "Lombardi's" %>
<%= link_to 'New Reservation', new_reservation_path(:outlet => @outlet)%>
<%end%>
<% if @outlet == "Cedar" %>
<%= link_to 'New Reservation', new_reservation_path(:outlet => @outlet)%>
<%end%>
</center>
</div>


<div id="draggable_interval" class="ui-widget-content">
<table border = 1>
<b>Party Count</b> 
<!--
<%= @search.res_date_equals%>
-->
<th>Time</th>
<th>Count</th>
<% @intervals.each do |e| %>
<tr>
  <td><%=  e.interval.strftime('%H:%M')%></td>
  <% if @search.res_date_equals == nil %>
     <% i = count @time_now, e.interval %>
  <% else %>
  <% i = count @search.res_date_equals, e.interval %>
<%end %>
 
   <% if i.first.total_patrons != nil %>
       <td><%= i.first.total_patrons %></td>
   <% else %>
       <td><%= "0" %></td>
   <% end %>

</tr>
<% end %>
</table>
</div>


