<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  
  
  <title>Casino Rama Reservations</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

</head>
<%= render 'layouts/header'%>
<body>

<%= yield %>

</body>
<%= render 'layouts/footer'%>
</html>
